/* Variables */
:root {
	--animation-easing: linear(
		0 0%,
		0 1.8%,
		0.01 3.6%,
		0.03 6.35%,
		0.07 9.1%,
		0.13 11.4%,
		0.19 13.4%,
		0.27 15%,
		0.34 16.1%,
		0.54 18.35%,
		0.66 20.6%,
		0.72 22.4%,
		0.77 24.6%,
		0.81 27.3%,
		0.85 30.4%,
		0.88 35.1%,
		0.92 40.6%,
		0.94 47.2%,
		0.96 55%,
		0.98 64%,
		0.99 74.4%,
		1 86.4%,
		1 100%
	);
	--background-color-1: white;
	--background-color-2: #f0f0f0;
	--background-color-3: #e0e0e0;
	--background-color-4: #d0d0d0;
	--border-color-1: black;
	--border-radius-button: 4px;
	--border-radius-small: 10px;
	--button-background-color: white;
	--button-hover-background-color: #d6d6d6;
	--padding-large: 1rem;
	--padding-small: 0.5rem;
	--progress-background-color: greenyellow;
	--text-color-1: black;
	--transition-duration: 0.2s;
}

:root.dark {
	--background-color-1: #404040;
	--background-color-2: #383838;
	--background-color-3: #303030;
	--background-color-4: #282828;
	--border-color-1: black;
	--button-background-color: #202020;
	--button-hover-background-color: #606060;
	--progress-background-color: #4caf50;
	--text-color-1: white;
}

/* HTML and Structure */
html {
	background-color: var(--background-color-1);
	color: var(--text-color-1);
	height: 100vh;
	margin: 0;
	padding: 0;
}

.app-shell {
	background-color: var(--background-color-1);
	border: 1px solid var(--border-color-1);
	border-radius: var(--border-radius-small);
	box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.2);
	color: var(--text-color-1);
	height: 100%;
}

.layout-container {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100%;
	overflow: hidden;
}

@media (max-width: 768px) {
	.layout-container {
		grid-template-columns: 1fr;
	}
}

/* Text */
p,
ul {
	font-size: small;
	margin-block-end: 0.5rem;
	margin-block-start: 0.5rem;
}

ul {
	padding-inline-start: 1.5rem;
}

/* Buttons */
button {
	background-color: var(--button-background-color);
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
	color: var(--text-color-1);
	display: flex;
	gap: 0.2rem;
	padding: 0.25rem;
}

button:hover {
	background-color: var(--button-hover-background-color);
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.button-small {
	font-size: x-small;
}

/* Sidebar */
.main-sidebar {
	background-color: var(--background-color-2);
	border-bottom-left-radius: 10px;
	border-right: 1px solid var(--border-color-1);
	border-top-left-radius: 10px;
	box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	padding: var(--padding-small);
	width: 360px;
	z-index: 1;
}

@media (max-width: 768px) {
	.main-sidebar {
		display: none;
	}
}

.sidebar-container {
	border: 1px solid var(--border-color-1);
	border-radius: var(--border-radius-button);
	box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Sidebar Header */
.sidebar-header {
	align-items: center;
	background-color: var(--background-color-4);
	border-bottom: 1px solid var(--border-color-1);
	border-top-left-radius: var(--border-radius-button);
	border-top-right-radius: var(--border-radius-button);
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.close-mobile {
	color: var(--text-color-1);
	display: none;
	margin: 0.5rem;
	width: fit-content;
}

@media (max-width: 768px) {
	.close-mobile {
		display: block;
	}
}

.sidebar-header-icon {
	border-right: 1px dashed var(--border-color-1);
	font-size: xx-large;
	padding: var(--padding-small);
}

.sidebar-header-text {
	flex-grow: 1;
	padding: var(--padding-small);
}

.sidebar-header-title {
	font-size: large;
}

.sidebar-header-subtitle {
	font-size: x-small;
}

/* Sidebar Controls */
.sidebar-controls {
	border-bottom: 1px solid var(--border-color-1);
	display: flex;
	gap: 0.2rem;
	justify-content: right;
	padding: var(--padding-small);
	z-index: 1;
}

/* Sidebar Engine */
.sidebar-engine {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sidebar-engine-header {
	align-items: center;
	background-color: var(--background-color-3);
	border: 0;
	border-bottom: 1px solid var(--border-color-1);
	border-radius: 0;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
	color: var(--text-color-1);
	display: flex;
	padding: var(--padding-small);
	position: relative;
	z-index: 1;
}

.sidebar-engine-title {
	flex-grow: 1;
	font-size: small;
	text-align: left;
}

.sidebar-engine .collapse-arrow {
	float: right;
	font-size: xx-small;
}

.sidebar-engine-content {
	background-color: var(--background-color-4);
	border-bottom: 1px solid var(--border-color-1);
	max-height: 1000px;
	overflow: hidden;
	padding: var(--padding-small);
	transition: all var(--transition-duration) var(--animation-easing);
}

.sidebar-engine-content.collapsed {
	border: 0;
	max-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.sidebar-engine-grid {
	display: grid;
	grid-template-columns: 1fr auto;
}

.sidebar-engine-item {
	display: flex;
	gap: 0.5rem;
}

.sidebar-engine-item-name,
.sidebar-engine-item-value {
	background-color: var(--button-background-color);
	border: 1px solid var(--border-color-1);
	border-radius: var(--border-radius-button);
	font-family: monospace;
	font-size: x-small;
}

.sidebar-engine-item-name {
	flex-grow: 1;
}

.sidebar-engine-item-border {
	border-left: 1px dashed var(--border-color-1);
}

/* Sidebar Inventory */
.sidebar-inventory {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sidebar-inventory-header {
	align-items: center;
	background-color: var(--background-color-3);
	border: 0;
	border-bottom: 1px solid var(--border-color-1);
	border-radius: 0;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
	color: var(--text-color-1);
	display: flex;
	padding: var(--padding-small);
	position: relative;
	z-index: 1;
}

.sidebar-inventory-title {
	flex-grow: 1;
	font-size: small;
	text-align: left;
}

.sidebar-inventory .collapse-arrow {
	float: right;
	font-size: xx-small;
}

.sidebar-inventory-controls {
	border-bottom: 1px dashed var(--border-color-1);
	display: flex;
	justify-content: flex-end;
	padding: 0;
	padding-bottom: var(--padding-small);
}

.sidebar-inventory-content {
	background-color: var(--background-color-4);
	border-bottom: 1px solid var(--border-color-1);
	max-height: 1000px;
	overflow: hidden;
	padding: var(--padding-small);
	transition: all var(--transition-duration) var(--animation-easing);
}

.sidebar-inventory-content.collapsed {
	border: 0;
	max-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.sidebar-inventory-grid {
	display: grid;
	grid-template-columns: 1fr auto;
	padding-top: var(--padding-small);
}

.sidebar-inventory-item {
	display: flex;
	gap: 0.5rem;
}

.sidebar-inventory-item-name,
.sidebar-inventory-item-value {
	background-color: var(--button-background-color);
	border: 1px solid var(--border-color-1);
	border-radius: var(--border-radius-button);
	font-family: monospace;
	font-size: x-small;
}

.sidebar-inventory-item-name {
	flex-grow: 1;
}

.sidebar-inventory-item-border {
	border-left: 1px dashed var(--border-color-1);
}

/* Sidebar Equipment */
.sidebar-equipment {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sidebar-equipment-header {
	align-items: center;
	background-color: var(--background-color-3);
	border: 0;
	border-bottom: 1px solid var(--border-color-1);
	border-radius: 0;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
	color: var(--text-color-1);
	display: flex;
	padding: var(--padding-small);
	position: relative;
	z-index: 1;
}

.sidebar-equipment-title {
	flex-grow: 1;
	font-size: small;
	text-align: left;
}

.sidebar-equipment .collapse-arrow {
	float: right;
	font-size: xx-small;
}

.sidebar-equipment-content {
	background-color: var(--background-color-4);
	border-bottom: 1px solid var(--border-color-1);
	max-height: 1000px;
	overflow: hidden;
	padding: var(--padding-small);
	transition: all var(--transition-duration) var(--animation-easing);
}

.sidebar-equipment-content.collapsed {
	border: 0;
	max-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.sidebar-equipment-grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}

.sidebar-equipment-item {
	display: flex;
	font-family: monospace;
	font-size: x-small;
	gap: 0.5rem;
}

/* Sidebar Upgrades */
.sidebar-upgrades {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sidebar-upgrades-header {
	align-items: center;
	background-color: var(--background-color-3);
	border: 0;
	border-bottom: 1px solid var(--border-color-1);
	border-radius: 0;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
	color: var(--text-color-1);
	display: flex;
	padding: var(--padding-small);
	position: relative;
	z-index: 1;
}

.sidebar-upgrades-title {
	flex-grow: 1;
	font-size: small;
	text-align: left;
}

.sidebar-upgrades-content {
	background-color: var(--background-color-4);
	border-bottom: 1px solid var(--border-color-1);
	max-height: 1000px;
	overflow: hidden;
	padding: var(--padding-small);
	transition: all var(--transition-duration) var(--animation-easing);
}

.sidebar-upgrades-content.collapsed {
	border: 0;
	max-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.sidebar-upgrades-grid {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}

.sidebar-upgrades-item {
	display: flex;
	font-family: monospace;
	font-size: x-small;
	gap: 0.5rem;
}

.sidebar-upgrades .collapse-arrow {
	float: right;
	font-size: xx-small;
}

/* Main Content Area */
.view-title {
	align-items: center;
	display: flex;
	font-size: large;
	gap: 0.5rem;
}

.view-title .emoji {
	font-size: 1.5em;
}

.view-title .name {
	font-weight: bold;
}

.main-content-area {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

@media (max-width: 768px) {
	.main-content-area {
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
	}
}

.main-content-area-header {
	background-color: var(--background-color-4);
	border-bottom: 1px solid var(--border-color-1);
	border-top-right-radius: 10px;
	box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.2);
	padding: var(--padding-large);
	z-index: 2;
}

.main-content-area-header-title {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

/* Main Content Area: Cabinet */
.cabinet {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}

.cabinet-content-area {
	background-color: var(--background-color-1);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: var(--padding-small);
	width: 100%;
}

.cabinet-file {
	background-color: var(--background-color-2);
	border: 1px solid var(--border-color-1);
	border-radius: var(--border-radius-small);
	overflow: hidden;
}

.cabinet-file .header {
	background-color: var(--background-color-4);
	border-bottom: 1px dashed var(--border-color-1);
	border-radius: var(--border-radius-small);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.2);
	padding: var(--padding-small);
}

.cabinet-file .content {
	padding: var(--padding-small);
	padding-bottom: 0;
	padding-top: 0;
}

.main .header .toolbar {
	display: flex;
	justify-content: flex-end;
}

.cabinet-inventory {
	background-color: var(--background-color-1);
	border-right: 1px solid var(--border-color-1);
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: var(--padding-small);
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	transition: all var(--transition-duration) var(--animation-easing);
	width: 100%;
}

.cabinet-inventory.visible {
	border-right-width: 0;
	opacity: 1;
	transform: translateX(0);
}

.cabinet-inventory-grid {
	display: flex;
	gap: 0.5rem;
	padding: var(--padding-small);
	padding-left: 0;
}

.cabinet-drawer {
	background-color: var(--background-color-3);
	border-left: 1px solid var(--border-color-1);
	bottom: 0;
	box-shadow: -2px 0 20px 0 #00000033;
	overflow: hidden;
	padding: var(--padding-small);
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: all var(--transition-duration) var(--animation-easing);
	width: 360px;
}

.cabinet-drawer.visible {
	transform: translateX(0);
}

.cabinet-drawer-detail {
	border: 1px solid var(--border-color-1);
	border-radius: var(--border-radius-button);
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}

.cabinet-drawer-detail-container {
	align-items: center;
	background-color: var(--background-color-3);
	border-bottom: 1px dashed var(--border-color-1);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--border-radius-button);
	border-top-right-radius: var(--border-radius-button);
	display: flex;
	flex-direction: row;
	font-size: small;
}

.cabinet-drawer-toolbar {
	padding: var(--padding-small);
	padding-left: 0;
	padding-top: 0;
}

.cabinet-drawer-detail-container-name {
	flex-grow: 1;
	padding: var(--padding-small);
}

.cabinet-drawer-detail-container-border {
	border-left: 1px dashed var(--border-color-1);
	height: 2rem;
}

.cabinet-drawer-detail-container-quantity {
	font-family: monospace;
	padding: var(--padding-large);
}

.cabinet-drawer-detail-description {
	background-color: var(--background-color-1);
	border-bottom-left-radius: var(--border-radius-button);
	border-bottom-right-radius: var(--border-radius-button);
	font-family: monospace;
	font-size: small;
	padding: var(--padding-small);
}

/* Main Content Area: Footer */
.main-content-area-footer {
	background-color: var(--background-color-2);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: -1px 0 20px 0 rgba(0, 0, 0, 0.2);
	display: grid;
	z-index: 2;
}

.main-content-area-footer-toolbar {
	border: 0;
	border-bottom: 1px solid var(--border-color-1);
	border-radius: 0;
	border-top: 1px solid var(--border-color-1);
	box-shadow: none;
	display: flex;
	justify-content: center;
	padding: 0.25rem;
}

.main-content-area-footer-content {
	padding: var(--padding-large);
}

.main-content-area-footer-drawer {
	background-color: var(--background-color-3);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 10px;
	border-top: 1px solid var(--border-color-1);
	border-top-width: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0 var(--padding-large);
	transition: all var(--transition-duration) var(--animation-easing);
}

.main-content-area-footer-drawer.visible {
	border-top-width: 1px;
	max-height: 200px;
	padding: var(--padding-large);
}

.main-content-area-footer-drawer-divider {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

/* Progress Bar */
.progress-container {
	overflow: hidden;
	position: relative;
	transition: all var(--transition-duration) var(--animation-easing);
}

.progress-container.disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.progress-content {
	position: relative;
	z-index: 2;
}

.progress-bar {
	background: var(--progress-background-color);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.02s var(--animation-easing);
	z-index: 1;
}
